/**
 * Styling for the splash/login page.
 */

.login {
  margin-top: $navbar-height * 2;

  .splash-logo {
    margin: 45px 40px;
    max-width: 72%;
  }

  .help_text {
    display: none;
  }

  .login-title {
    display: inline-block;
  }

  ul.errorlist {
    padding-left: 0;
  }

  .modal-content .panel {
    margin-bottom: 0;
  }

  .hz-icon-required {
    display: none;
  }
}
